<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
		<title>Handle-Burger</title>

		{{!-- link to jQuery cdn --}}
		<script src="https://code.jquery.com/jquery.js"></script>

		<script src="/assets/js/burgers.js"></script>

		{{!-- link to google fonts --}}
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

		{{!-- link to favicon --}}
		<link rel="shortcut icon" type="image/png" href="assets/images/handle-burger.jpg"/>

	</head>
	<body>
		{{{ body }}}
	</body>
</html>
