body {
  text-align: center;
}

h1, h2 {
  font-family: sans-serif;
}

#devoured {
  float: center;
}

#not-devoured {
  float: center;
}

#order {
  clear: left;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}
